@charset "UTF-8";

$color-blue: #0052a1;
$color-lightblue: #29abe2;
$color-pink: #ff7bac;
$color-orange: #ff6e68;
$color-green: #22b573;
$color-yellow: #fbb03b;
$color-purple: #8966b0;
$color-beige: #c7b299;
$color-lightbeige: #f0eee4;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  //font-family: "YuGothic", "游ゴシック", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "Helvetica Neue", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  // font-weight: 500;
  font-family: "YuGothic", "游ゴシック", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "Helvetica Neue", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  position: relative;
}
.wrap {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  @include clearfix;
}
ul,ol {
  list-style-type: none;
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.pc {
  display: block;
}
.sp {
  display: none;
}
input[type="submit"] {
  -webkit-appearance: none;
}
input[type="text"],input[type="email"],input[type="tel"],textarea {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

