@charset "UTF-8";

// header.inc
.nav_blk {
  width: 250px;
  min-height: 100%;
  height: 100%;
  background: $color-blue;
  position: fixed;
  color: #fff;
  z-index: 2;
  &--txt {
    @include fz(12);
    line-height: 1.5;
    letter-spacing: -0.5px;
  }
}
.logo {
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 1px solid #ccc;
  background: #fff;
}
.nav_blk_btn {
  display: none;
}

.gl_nav {
  padding: 15px;
  &--list {
    margin-bottom: 15px;
  }
  &--item {
    margin-bottom: 5px;
  }
  &--link {
    display: block;
    position: relative;
    @include fz(16);
    font-weight: bold;
    padding: 0.5em 1em 0.5em 2.8em;
    border-radius: 4.4px;
    color: #fff;
    transition: .15s;
    box-sizing: border-box;
    &:hover {
      transition: .15s;
      border: 2px solid #fff;
    }
    &:before {
      display: block;
      position: absolute;
      transform: scale(0.5,0.5);
    }
    &-service {
      background: $color-pink;
      border: 2px solid $color-pink;
      &:before {
        content: url('/images/icon-gl-nav-link-service.png');
        top: -10px;
        left: -5px;
      }
    }
    &-beginner {
      background: $color-purple;
      border: 2px solid $color-purple;
      background: $color-purple;
      &:before {
        content: url('/images/icon-gl-nav-link-beginner.png');
        top: -10px;
        left: -6px;
      }
    }
    &-counseling {
      background: $color-beige;
      letter-spacing: -2.8px;
      white-space: nowrap;
      background: $color-beige;
      border: 2px solid $color-beige;
      &:before {
        content: url('/images/icon-gl-nav-link-counseling.png');
        top: -8px;
        left: -11px;
      }
    }
    &-seminar {
      background: $color-orange;
      letter-spacing: -1.5px;
      white-space: nowrap;
      border: 2px solid $color-orange;
      &:before {
        content: url('/images/icon-gl-nav-link-seminar.png');
        top: -8px;
        left: -10px;
      }
    }
    &-event {
      background: $color-green;
      background: $color-green;
      border: 2px solid $color-green;
      &:before {
        content: url('/images/icon-gl-nav-link-event.png');
        top: -10px;
        left: -6px;
      }
    }
    &-recruit {
      background: $color-yellow;
      background: $color-yellow;
      border: 2px solid $color-yellow;
      &:before {
        content: url('/images/icon-gl-nav-link-recruit.png');
        top: -9px;
        left: -11px;
      }
    }
    &-staff {
      background: $color-lightblue;
      background: $color-lightblue;
      border: 2px solid $color-lightblue;
      white-space: nowrap;
      &:before {
        content: url('/images/icon-gl-nav-link-staff.png');
        top: -14px;
        left: 0px;
      }
    }
  }
}
.youtube_btn {
  margin-bottom: 10px;
  display: block;
  height: 115px;
  transition: .2s;
  &:hover {
    opacity: .8;
    transition: .2s;
  }
}
.btn_yt {
  display: none;
}
.btn_contacts {
  display: none;
}

// page_head.inc
.page_head {
  position: fixed;
  top: 0;
  z-index: 3;
  margin-left: 280px;
  @include clearfix;
  &--btns {
    @include fz(16);
    line-height: 1.7;
  }
  &--btns_list {
    @include clearfix;
  }
  &--btns_item {
    float: left;
    &-sml {
      @include fz(12);
      font-weight: normal;
    }
    &-mail, &-tel {
      margin-top: 6px;
      @include fz(15);
      font-weight: bold;
      text-align: center;
      line-height: 1.3;
    }
    &-fb {
      margin-top: 5px;
      padding: 0;
    }
  }
  &--btns_link {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 0.8em 3.5em 0.8em 4em;
    transition: .2s;
    border-radius: 0 0 5px 5px / 0 0 5px 5px;
    margin-right: 10px;
    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: rotate(-45deg);
      top: 20px;
      left: 10px;
      transition: .2s;
    }
    &-seminar {
      background: #000;
      transition: .2s;
      padding-left: 35px;
      padding-right: 20px;
      &-open {
        &:before {
          transform: rotate(45deg);
          transition: .2s;
        }
      }
      &:hover {
        padding-top: 20px;
        &:before {
          top: 30px;
          transition: .2s;
        }
      }
    }
    &-pjob {
      padding-right: 1em;
      padding-left: 2.5em;
      background: $color-blue;
      &:hover {
        padding-top: 20px;
        transition: .2s;
        &:before {
          top: 30px;
          transition: .2s;
        }
      }
    }
    &-mail {
      padding: 14px 10px 14px 50px;
      background: #e0413f;
      border-radius: 5px;
      &:before {
        content: url('/images/img-page-head-btns-link-mail.png');
        transform: scale(0.5,0.5);
        border: none;
        top: 5px;
        left: 5px;
      }
    }
    &-tel {
      padding: 14px 10px;
      background: #8bc53f;
      border-radius: 5px;
      padding-left: 50px;
      font-weight: bold;
      &:before {
        content: url('/images/img-page-head-btns-link-tel.png');
        transform: scale(0.5,0.5);
        border: none;
        top: 5px;
      }
    }
    &-fb {
      padding: 0;
      &:before {
        display: none;
      }
    }
  }
}
.sns {
  padding-top: 10px;
  &--list {
  }
  &--item {
    margin-bottom: 5px;
    &:last-child {
    }
  }
}

// search_menu
.search_menu {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  padding-top: 50px;
  color: #fff;
  &--inner {
    width: 1000px;
    margin: 0 auto;
  }
  &--ttl {
    @include fz(28);
    line-height: 1.7;
    margin-bottom: 1.5em;
    text-align: center;
  }
  &--list {
    @include clearfix;
    width: 100%;
    margin-bottom: 60px;
  }
  &--item {
    display: block;
    width: 49%;
    float: left;
    margin-bottom: 10px;
    &:nth-child(2n) {
      margin-left: 10px;
    }
  }
  &--link {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 0.8em 0.8em 0.8em 2em;
    border: 1px solid #fff;
    color: inherit;
    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 8px;
      height: 8px;
      top: 22px;
      left: 10px;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotate(-45deg);
    }
  }
  &--close {
    text-align: center;
    margin-bottom: 1em;
    cursor: pointer;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotate(-45deg);
      top: -20px;
      left: 485px;
    }
  }
}
.search_menu_sp {
  display: none;
}

// banner.inc
.banner {
  padding-top: 20px;
  padding-bottom: 20px;
  &--list {
    @include clearfix;
  }
  &--item {
    float: left;
    margin-right: 20px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      border-bottom: 1px solid #969696;
      border-right: 1px solid #969696;
      transform: rotate(-45deg);
      top: 45%;
      right: 20px;
      transition: .2s;
    }
    &:nth-child(2) {
      margin-right: 0;
    }
    &:hover {
      &:after {
        border-color: $color-blue;
        right: 15px;
        transition: .2s;
      }
    }
  }
  &--link {
    display: block;
    img {
      transition: .2s;
      &:hover {
        opacity: .8;
        transition: .2s;
      }
    }
  }
}

// access.inc
.access {
  min-height: 590px;
  @include clearfix;
  &--map {
    float: right;
    width: 465px;
    height: 638px; 
    // min-height: 100%;
  }
  &--contents {
    float: left;
    padding: 35px 0 35px 35px;
    line-height: 1.7;
  }
  &--ttl {
    @include fz(21);
    margin-bottom: 0.5em;
    color: $color-blue;
    font-weight: bold;
  }
  &--ttl_sub {
    @include fz(18);
    color: $color-blue;
    margin-bottom: 1em;
    font-weight: bold;
    &-sml {
      @include fz(16);
      margin-bottom: 25px;
    }
  }
  &--txt {
    @include fz(14);
    margin-bottom: 2em;
    &-address {
      margin-bottom: 0;
    }
    &-attention {
      color: #4d4d4d;
    }
    &-arrange {
      margin-bottom: 10px;
    }
  }
  &--link {
    color: $color-blue;
  }
  &--tel {
    @include fz(27);
    color: $color-blue;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  &--tel_number {
    @include fz(47);
    color: $color-blue;
  }
}

// footer.inc
.footer {
  background: #e6e6e6;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  &--txt {
    @include fz(14);
    line-height: 1.7;
    text-align: center;
  }
}

// pagetop
.page_top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  background: rgba(0,0,0,0.8);
  padding: 20px 20px 15px;
  z-index: 10;
  border-radius: 10px;
  transition: .2s;
  &:before {
    display: block;
    width: 10px;
    height: 10px;
    content: '';
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
    transition: .2s;
  }
  &:hover {
    transition: .2s;
    background: rgba(0,0,0,0.3);
    &:before {
      border-color: #000;
    }
  }
}

