@charset "UTF-8";

// layout
.cmp-inner {
  width: 800px;
  margin: 0 auto;
}
.cmp-section {
  padding-top: 70px;
  padding-bottom: 80px;
  position: relative;
  z-index: 0;
  &--ttl {
    @include fz(30);
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    letter-spacing: -0.3px;
    padding-top: 48px;
    padding-bottom: 48px;
    color: $color-blue;
    position: relative;
    #news & {
      padding-left: 40px;
      padding-right: 40px;
    }
    &-counseling {
      padding-top: 30px;
      line-height: 1.3;
      &:before {
        position: absolute;
        content: url('/images/icon-ttl-counseling.png');
        transform: scale(0.5,0.5);
        top: -75px;
        left: 440px; 
      }
    }
    &-seminar {
      padding-top: 30px;
      line-height: 1.3;
      &:before {
        position: absolute;
        content: url('/images/icon-ttl-seminar.png');
        transform: scale(0.5,0.5);
        top: -75px;
        left: 440px; 
      }
    }
    &-recruit {
      padding-top: 30px;
      line-height: 1.3;
      &:before {
        position: absolute;
        content: url('/images/icon-ttl-recruit.png');
        transform: scale(0.5,0.5);
        top: -75px;
        left: 440px; 
      }
    }
    &-menu {
      @include fz(18);
      letter-spacing: -1px;
    }
    &-yellow {
      color: $color-yellow;
    }
    &-orange {
      color: $color-orange;
    }
    &-green {
      color: $color-green;
    }
    #support_menu & {
      @include fz(24);
      line-height: 2;
    }
  }
  &--ttl_sub {
    @include fz(30);
    line-height: 1.6;
    text-align: center;
    color: $color-blue;
    padding: 1em 0;
    background: #fff;
    margin-bottom: 50px;
    &-rev {
      border: 2px solid $color-blue;
    }
    &-arrange {
      margin-bottom: 0;
    }
  }
  &-bg_beige {
    background: url('/images/bg-section-beige.gif') repeat top left;
  }
  &-bg_lightblue {
    background: url('/images/bg-section-lightblue.gif') repeat top left;
  }
}
// Parts
.cmp-btn {
  position: relative;
  padding: 0.7em 3.6em 0.7em 4em;
  @include fz(22);
  font-weight: bold;
  line-height: 1.7;
  display: inline-block;
  color: #fff;
  border: 2px solid #fff;
  transition: .2s;
  &:before {
    display: block;
    position: absolute;
    content: '';
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    top: 40%;
    left: 13px;
    transition: .2s;
  }
  &:hover {
    border-color: #fff;
    &:before {
      transition: .2s;
      left: 18px;
    }
  }
  &-beige {
    background: $color-beige;
    border-color: $color-beige;
  }
  &-blue {
    background: $color-blue;
    border-color: $color-blue;
  }
  &-pink {
    background: $color-pink;
    border-color: $color-pink;
  }
  &-orange {
    background: $color-orange;
    border-color: $color-orange;
  }
  &-yellow {
    background: $color-yellow;
    border-color: $color-yellow;
  }
  &-green {
    background: $color-green;
    border-color: $color-green;
  }
  &-purple {
    background: $color-purple;
    border-color: $color-purple;
  }
  &-full {
    display: block;
    text-align: center;
  }
}
.cmp--txt {
  text-align: center;
  &-md {
    @include fz(18);
    line-height: 2;
  }
  &-sml {
    @include fz(14);
  }
  &-red {
    color: #ff0000;
  }
  .support_menu_section & {
    letter-spacing: -0.5px;
    white-space: nowrap;
  }
}
.cmp-txt_label {
  padding: 0.5em 1em;
  @include fz(20);
  font-weight: bold;
  color: #fff;
  display: inline-block;
  &-ds {
    box-shadow: 5px 5px #d1cbab;
  }
  &:last-child {
    margin-left: 20px;
  }
  &-tape {
    position: relative;
    height: 40px;
    min-width: 200px;
    &:before {
      position: absolute;
      z-index: -1;
      content: '';
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 40%;
      background: rgba(0,0,0,0.7);
      box-shadow: 0 15px 10px rgba(0,0,0,0.7);
      transform: rotate(-3deg);
    }
    &:after {
      position: absolute;
      z-index: -1;
      content: '';
      bottom: 15px;
      right: 10px;
      width: 50%;
      top: 35%;
      max-width: 200px;
      background: rgba(0,0,0,0.7);
      box-shadow: 0 15px 10px rgba(0,0,0,0.7);
      transform: rotate(6deg);
    }
  }
  &-blue {
    background: $color-blue;
  }
  &-yellow {
    background: $color-yellow;
  }
  &-orange {
    background: $color-orange;
  }
  &-green {
    background: $color-green;
  }
}
.cmp-label_wrap {
  display: block;
  margin: 0 auto 25px;
  text-align: center;
}

// point
.cmp-point {
  &--two_wrap {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  &--two {
    // margin-left: calc(calc(800px - 515px) / 2);
    margin-bottom: 25px;
  }
  &--three {
    margin-bottom: 25px;
  }
  &--item {
    width: 250px;
    display: inline-block;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
  }
}

//contact
.cmp-contact {
  width: 100%;
  display: table;
  border-radius: 5px;
  margin-bottom: 15px;
  &--head {
    width: 16%;
    @include fz(16);
    background: $color-blue;
    display: table-cell;
    color: #fff;
    vertical-align: middle;
    border-radius: 5px 0 0 5px / 5px 0 0 5px;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
  }
  &--list_wrap {
    width: 100%;
    background: #fff;
    border-radius: 0 5px 5px 0 / 0 5px 5px 0;
    padding: 15px 20px 0;
    line-height: 1.7;
  }
  &--list {
    padding-bottom: 15px;
    padding-top: 10px;
    display: table;
    width: 100%;
    &-name {
      border-bottom: 2px solid #ccc;
      padding-top: 0;
    }
  }
  &--ttl {
    @include fz(15);
    width: 45%;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    &-phone {
      @include fz(32);
      width: 35%;
      font-family: 'Roboto', sans-serif;
      letter-spacing: -0.5px;
      a {
        color: #000;
      }
    }
  }
  &--txt {
    @include fz(12);
    display: table-cell;
    vertical-align: middle;
    &-time {
      letter-spacing: -0.5px;
    } 
  }
  .tel_link {
    color: #000;
  }
}

// step_box
.cmp-step_box {
  padding-bottom: 0;
  &-bgcolor_beige {
    background: $color-beige;
  }
  &-bgcolor_lightblue {
    background: #e5f3fd;
  }
  &--txt {
    padding-bottom: 3em;
    line-height: 1.8;
    text-align: center;
    &-attention {
      text-align: left;
      clear: both;
      padding-top: 1.3em;
    }
  }
  &--step_wrap {
    width: 880px;
    margin: 0 auto;
    @include clearfix;
    #seminar & {
      width: 800px;
      margin-bottom: 40px;
    }
  }
  &--step {
    float: left;
    width: 420px;
    min-height: 247px;
    margin-right: 35px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    #flow & {
      &:after {
        @include fz(25);
        display: block;
        position: absolute;
        content: '';
        border: 15px solid transparent;
        border-left: 20px solid #000;
        top: 50%;
        right: -45px;
      }
      &:nth-child(2n) {
        &:after {
          content: none;
        }
      }
      img {
        max-width: initial;
        max-width: auto; // for ie
      }
    }
    &:nth-child(2n) {
      float: right;
      margin-right: 0;
      &:after {
        content: none;
      }
    }
    #seminar & {
      width: 250px;
      margin-right: 25px;
      &:first-child {
        .cmp-step_box--step_ttl {
          background: #3fa9f5;
        }
      }
      &:nth-child(2) {
        float: left;
        margin-right: 25px;
      }
      &:nth-child(3) {
        margin-right: 0;
      }
    }
  }
  &--step_ttl {
    @include fz(24);
    line-height: 1.7;
    text-align: center;
    color: #fff;
    background: #0052a1;
    border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &--step_txt {
    @include fz(18);
    padding: 25px;
    &-red {
      color: #ff0000;
    }
    &-tel {
      font-family: 'Roboto', sans-serif;
      color: $color-blue;
      @include fz(32);
      font-weight: bold;
      white-space: nowrap;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: -20px;
      #seminar & {
        padding-top: 15px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 15px;
        border-top: 2px solid $color-blue;
        text-align: center;
        display: block;
        @include fz(17);
      }
    }
    &-tel_number {
      @include fz(47);
      letter-spacing: -1px;
      color: $color-blue;
      #seminar & {
        @include fz(32);
      }
    }
    &-sml {
      @include fz(14);
      line-height: 1.6;
      padding-top: 0;
    }
  }
  &--btn {
    display: block;
    padding: 2em 0;
    margin-top: 1em;
    text-align: center;
    &:before {
      top: 57px;
    }
    #seminar & {
      @include fz(30);
      padding: 10px 0 15px;
      margin-top: 15px;
      line-height: 1.5;
      background: #0052a1;
      border-radius: 5px;
      border: 2px solid #0052a1;
      &:hover {
        border-color: #3fa9f5;
        transition: .2s;
      }
      &:before {
        content: none;
      }
      &-sml {
        @include fz(18);
      }
    }
  }
}

.cmp-flow_box {
 &--list {
  @include clearfix;
  margin-bottom: 85px;
  text-align: center;
 }
 &--item {
  width: 31.3%;
  @include fz(22);
  line-height: 1.2;
  float: left;
  display: block;
  position: relative;
  background: #fff;
  border-radius: 0 0 5px 5px / 0 0 5px 5px;
  padding-bottom: 1em;
  margin-right: 3%;
  &:after {
    @include fz(25);
    display: block;
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #000;
    top: 50%;
    right: -28px;
  }
  &:nth-child(3n) {
    margin-right: 0;
    &:after {
      content: none;
    }
  }
 }
 &--head {
  display: block;
  background: $color-blue;
  color: #fff;
  padding: 0.5em 0;
  border-radius: 5px 5px 0 0 / 5px 5px 0 0;
 }
 &--content {
  padding-bottom: 1em;
 }
}

// join
.cmp-join {
  padding-top: 40px;
  padding-bottom: 65px;
  text-align: center;
  &-bgcolor_lightbeige {
    background: $color-lightbeige;
  }
  &-bgcolor_lightblue {
    background: #e5f3fd;
  }
  &--ttl {
    @include fz(30);
    line-height: 1.6;
    color: $color-blue;
    margin-bottom: 1em;
  }
  &--txt {
    margin-bottom: 3em;
  }
}
// seminar, event popup
.cmp-announce {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  z-index: 10;
  top: 0;
  left: 0;
  &--lead {
    @include fz(24);
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    clear: both;
    letter-spacing: -1px;
    white-space: nowrap;
  }
  &--close {
    clear: both;
    color: #fff;
    text-align: center;
    @include fz(14);
    transition: .2s;
    &-cross {
      margin-top: 50px;
      margin-bottom: 20px;
      font-weight: normal;
      transform: scale(5,5);
    }
    &:hover {
      transition: .2s;
      color: $color-blue;
      cursor: pointer;
    }
  }
}
.cmp-announce_inner {
  width: 845px;
  margin: 100px auto 0;
}
.cmp-announce_blk {
  margin-bottom: 40px;
  position: relative;
  @include clearfix;
  &--btn {
    @include fz(16);
    text-align: center;
    width: 100%;
    &:before {
      top: 40%;
    }
  }
  &--btn_login {
    @include fz(30);
    padding: 35px 0 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    display: block;
    line-height: 1.4;
    &-sml {
      @include fz(18);
    }
    &:before {
      content: none;
    }
  }
  &-noregistrant {
    float: left;
    width: 528px;
  }
  &-registrant {
    float: right;
    width: 275px;
    .cmp-announce_blk--item-btn {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
    }
    .cmp-announce_blk--item-txt,.cmp-announce_blk--item-txt_sml {
      padding-right: 0;
      padding-bottom: 0;
    }
  }
  &--ttl {
    @include fz(24);
    font-weight: bold;
    color: #fff;
    background: $color-blue;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  &--list {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
  }
  &--pic {
    position: absolute;
    &-01 {
      top: 70px;
      right: 0;
    }
    &-02 {
      top: 240px;
      right: 0;
    }
  }
  &--item {
    display: block;
    position: relative;
    @include fz(13);
    line-height: 1.7;
    text-align: center;
    padding-bottom: 20px;
    padding-right: 100px;
    &:last-child {
      padding-bottom: 0;
    }
    &-txt {
      text-align: left;
    }
    &-txt_sml {
      @include fz(12);
      line-height: 1.3;
      text-align: left;
    }
    &-ttl {
      @include fz(18);
      font-weight: bold;
      color: #fff;
      background: #29aae1;
      margin-bottom: 15px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-right: 0;
    }
    &-next {
      &:after {
        display: block;
        position: absolute;
        content: '';
        margin-top: 5px;
        border: 7px solid transparent;
        border-top: 11px solid #999;
        left: 40%;
      }
    }
    &-pic {
        padding: 0 10px;
        margin-top: 30px;
    }
    &-btn {
      padding-right: 0;
    }
    strong {
      color: $color-blue;
    }
  }
}


// margin
.margin-txt {
  &-md {
    margin-bottom: 3.5em;
  }
}
.margin-btn {
  margin-top: 15px;
  margin-bottom: 20px;
}

