@charset "UTF-8";

.contents {
  width: 1280px;
  border-right: 0.4px solid #ccc;
  overflow: hidden;
  padding-left: 250px;
}

// TOP
.main_visual {
  height: 466px;
  background: url('/images/bg-main-visual.jpg') no-repeat top right;
  position: relative;
  &--ttl {
    padding-top: 105px;
  }
  &--ttl_sub {
    margin-top: 20px;
    margin-left: 10px;
    display: block;
  }
  &--btn_wrap {
    position: absolute;
    left: 180px;
    bottom: 65px;
  }
  &--btn {
    border-radius: 5px;
    padding: 0.5em 2.3em 0.5em 3em;
    &:before {
      top: 24px;
    }
  }
}
.topics {
  display: table;
  background: #fff;
  width: 800px;
  padding: 8px 25px;
  border-radius: 5px;
  margin: -90px auto 40px;
  z-index: 1;
  &--list_wrap {
    display: table-cell;
    width: 95%;
  }
  &--list {
    display: table;
    padding-top: 1em;
    width: 98%;
    &:last-child {
      padding-bottom: 1em;
    }
    .news {
      background: $color-lightblue;
    }
    .event {
      background: $color-green;
    }
    .seminar {
      background: $color-orange;
    }
    .others {
      background: #989898;
    }
  }
  &--date {
    display: table-cell;
    padding-right: 1em;
    padding-top: 5px;
    width: 10%;
    vertical-align: top;
  }
  &--label {
    display: table-cell;
    width: 80px;
    text-align: center;
    color: #fff;
    width: 15%;
    vertical-align: top;
    &-inner {
      display: block;
      height: 25px;
      padding: 6px 0px;
      @include fz(13);
    }
  }
  &--ttl {
    display: table-cell;
    width: 69%;
    padding-left: 1em;
    padding-top: 4px;
    vertical-align: top;
    a {
      color: #000;
      display: block;
      padding-left: 10px;
      line-height: 1.3;
      position: relative;
      &:before {
        display: block;
        position: absolute;
        content: '';
        margin-left: 5px;
        margin-top: 5px;
        margin-right: 5px;
        width: 7px;
        height: 7px;
        border-bottom: 1px solid $color-blue;
        border-right: 1px solid $color-blue;
        transform: rotate(-45deg);
        left: -10px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &--all {
    display: table-cell;
    vertical-align: middle;
    color: inherit;
    transition: .2s;
    padding-top: 15px;
    width: 5%;
    // &:after {
    //   content: '';
    //   width: 8px;
    //   height: 8px;
    //   display: block;
    //   position: relative;
    //   border-right: 1px solid #fff;
    //   border-bottom: 1px solid #fff;
    //   transform: rotate(-45deg);
    //   margin-top: -50px;
    //   margin-left: 6px;
    // }
    &:before {
      content: '';
      color: #fff;
      width: 24px;
      height: 24px;
      margin-bottom: 5px;
      // padding: 8px 10px;
      background: $color-blue;
      display: block;
      border-radius: 50%;
      // for IE
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    &:hover {
      transition: .2s;
      text-decoration: underline;
    }
  }
  &--all_arrow {
    &:before {
      display: block;
      content: '>';
      margin-top: -24px;
      margin-left: 8px;
      padding-bottom: 10px;
      color: #fff;
    }
    &:hover {
      &:before {
        text-decoration: none;
      }
    }
  }
}
.support_circle_wrap {
  position: relative;
  height: 510px;
}
.support_circle {
  position: absolute;
  z-index: 0;
  width: 287px;
  height: 287px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  // for IE
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  &--ttl {
    margin-bottom: 10px;
  }
  &--ttl_pic {}
  &--icon {
    margin-bottom: 10px;
  }
  &--txt {}
  &-counseling {
    top: 0;
    left: 90px;
    border: 7.5px solid #fde0bf;
  }
  &-program {
    top: 0;
    left: 390px;
    border: 7.5px solid #ffcbc9;
  }
  &-job {
    top: 275px;
    left: 240px;
    border: 7.5px solid #b7e7d1;
  }
}
.support_section {
  min-height: 975px;
  &--ttl {
    @include fz(35);
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    letter-spacing: -0.3px;
    margin-bottom: 40px;
  }
  &--pic_man {
    position: absolute;
    bottom: 0;
    left: 25px;
  }
  &--pic_woman {
    position: absolute;
    bottom: 0;
    right: 95px;
  }
}
.service_section {
  &--btn_wrap {
    text-align: center;
    margin-bottom: 55px;
  }
  &--pic_woman {
    position: absolute;
    top: 80px;
    left: 80px;
  }
  &--point_two {
    margin-bottom: 65px;
  }
}
.counseling_section {
  &--pic_man {
    position: absolute;
    top: 180px;
    right: 80px;
  }
}
.seminar_section {
  &--btn_wrap {
    text-align: center;
  }
  &--pic_woman {
    position: absolute;
    top: 260px;
    left: 100px;
  }
}
.recruit_section {
  &--txt {
    letter-spacing: -0.8px;
  }
  &--btn_wrap {
    text-align: center;
    // margin-bottom: 85px;
  }
  &--btn {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
  &--ttl {
    @include fz(25);
    line-height: 1.8;
    font-weight: bold;
    color: #0052a1;
    display: block;
    border-top: 2px solid #0052a1;
    border-bottom: 2px solid #0052a1;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0.8em;
    text-align: center;
  }
  &--tbl {
    width: 100%;
    tr {
      &:nth-child(2n) {
        td {
          background-color: #fff;
        }
      }
      &:nth-child(2n+1) {
        td {
          background-color: #edf7fe;
        }
      }
    }
  }
  &--tbl_ttl {
    @include fz(18);
    font-weight: bold;
    line-height: 1.7;
    color: #fff;
    &-date {
      margin-right: 5px;
    }
    &-target {
      margin-right: 5px;
    }
    &-inner {
      background: #0052a1;
      padding-top: 1em;
      padding-bottom: 1em;
      display: block;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
  &--tbl_data {
    @include fz(16);
    padding: 1.5em 0;
    text-align: center;
    vertical-align: middle;
  }
  &--tbl_target {
    @include fz(14);
    color: #fff;
    &-inner {
      padding: 5px 7px;
      background: $color-green;
    }
  }
  &--tbl_category {
    display: none;
  }
  &--tbl_content {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 70%;
    &-accepting {
      padding: 5px 15px;
      color: #c1272d;
      border: 1px solid #c1272d;
      margin-right: 10px;
    }
  }
  &--pic_man {
    position: absolute;
    bottom: 10px;
    right: 0;
  }
}
.event_info {
  width: 100%;
  &--list {
    display: table;
    width: 100%;
    background: #fff;
    border-bottom: 1px dotted #ccc;
  }
  &--list_head {
    display: table;
    width: 100%;
    margin-bottom: 10px;
  }
  &--item {
    display: table-cell;
    vertical-align: middle;
    @include fz(16);
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.5;
    text-align: center;
    &:nth-child(1) {
      width: 120px;
    }
    &:nth-child(2) {
      width: 672px;
      margin-right: 0;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
    }
    &-inner {
      @include fz(14);
    }
    // &-inner_target {
    //   background: $color-green;
    //   padding: 5px 7px;
    //   color: #fff;
    //   display: block;
    // }
    &-inner_accepting {
      border: 1px solid #c1272d;
      margin-right: 10px;
      padding: 5px 15px;
      color: #c1272d;
    }
    .event_info--list_head & {
      display: inline-block;
      margin-right: 8px;
      @include fz(18);
      font-weight: bold;
      line-height: 1.7;
      text-align: center;
      color: #fff;
      background: $color-blue;
      border-radius: 5px;
      padding-top: 15px;
      padding-bottom: 15px;
      &:nth-child(2) {
        margin-right: 0;
      }
    }
  }
}

// beginner page
.ctg_visual {
  height: 400px;
  position: relative;
  #beginner & {
    background: url('/beginner/images/bg-ctg-visual.jpg') no-repeat top right;
  }
  #counseling & {
    background: url('/counseling/images/bg-ctg-visual.jpg') no-repeat top left;
  }
  #seminar & {
    background: url('/seminar/images/bg-ctg-visual.jpg') no-repeat top left;
  }
  #seminar-list & {
    background: url('/seminar/images/bg-ctg-visual-list.jpg') no-repeat top left;
  }
  #event & {
    background: url('/event/images/bg-ctg-visual.jpg') no-repeat top left;
  }
  #recruit & {
    background: url('/recruit/images/bg-ctg-visual.jpg') no-repeat top right;
  }
  #staff & {
    background: url('/staff/images/bg-ctg-visual.jpg') no-repeat top left;
  }
  #faq & {
    background: url('/faq/images/bg-ctg-visual.jpg') no-repeat top left;
  }
  #voice & {
    background: url('/voice/images/bg-ctg-visual.jpg') no-repeat top left;
  }
  &--ttl {
    @include fz(48);
    font-weight: bold;
    color: $color-blue;
    padding-top: 110px;
    margin-bottom: 55px;
    letter-spacing: -1px;
    &-sml {
      @include fz(36);
      #counseling & {
        margin-left: -15px;
      }
    }
    #counseling & {
      padding-top: 85px;
      margin-bottom: 35px;
      line-height: 1.1;
    }
  }
  &--lead {
    @include fz(20);
    line-height: 1.6;
  }
  #support_menu & {
    height: 287px;
    background: url('/support_menu/images/bg-ctg-visual.jpg') no-repeat top right;
    position: relative;
    &--ttl {
      position: absolute;
      top: 125px;
      left: 275px;
      margin-top: 0;
      padding-top: 0;
    }
  }
  #contact &,#news & {
    height: 220px;
    background: url('/contact/images/bg-ctg-visual.jpg') no-repeat top right;
  }
  &--pic {
    position: absolute;
    bottom: 0;
    left: 70px;
  }
}
.facility_section {
  &--pic_woman {
    position: absolute;
    bottom: 0;
    left: 50px;
  }
  &--pic_building {
    position: absolute;
    bottom: 0;
    right: 95px;
  }
}
.adviser_section {
  &--point_two {
    margin-bottom: 50px;
  }
  &--pic_man {
    position: absolute;
    bottom: 0;
    right: 45px;
  }
}
.onestop_section {
  &--txt {
    letter-spacing: -1px;
  }
  &--btn_list {
    @include clearfix;
  }
  &--item {
    margin-left: 3%;
    display: block;
    float: left;
    width: 47%;
    &:nth-child(2n+1) {
      margin-left: 0;
    }
  }
  &--btn {
    @include fz(22);
    line-height: 1.7;
    letter-spacing: -1px;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
.mypage_section {
  &--ttl_sub {
    @include fz(30);
    line-height: 1.6;
    text-align: center;
    color: $color-blue;
    padding: 1em 0;
    background: #fff;
    margin-bottom: 10px;
  }
  &--txt {
    @include fz(24);
    line-height: 1.6;
    margin-bottom: 45px;
  }
  &--pic {
    display: block;
    margin: 0 auto; 
  }
  &--point_three {
    margin-bottom: 75px;
  }
  &--btn {
    margin-top: 70px;
  }
}
.space_section {
  &--pic_wrap {
    @include clearfix;
    margin-bottom: 20px;
    overflow: visible;
  }
  &--pic {
    float: left;
    position: relative;
    margin-bottom: 36px; 
    &:nth-child(2n) {
      margin-left: 30px;
    }
    &:nth-child(3),&:nth-child(4) {
      margin-bottom: 0;
    }
  }
  &--pic_txt {
    position: absolute;
    @include fz(16);
    font-weight: bold;
    color: #fff;
    background: #45a4f0;
    padding: 10px;
    top: 15px;
    left: -5px;
    box-shadow: 3px 3px rgba(256,256,256,0.75);
  }
  &--txt {
    text-align: left;
    clear: both;
  }
}

// counseling page
.counseling_section {
  &--ttl_sub {
    @include fz(25);
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 2em;
  }
  &--txt {
    margin-bottom: 90px;
    &-left {
      text-align: left;
    }
  }
}
.introduction_section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include clearfix;
  &--card {
    width: 250px;
    float: left;
    background: #fff;
    border-radius: 10px;
    margin-left: 25px;
    margin-bottom: 25px;
    &:nth-child(3n+1) {
      margin-left: 0;
    }
  }
  &--card_pic {
    border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    display: block;
  }
  &--name {
    display: block;
    text-align: center;
    @include fz(20);
    font-weight: bold;
    padding: 0.5em 0;
    background: $color-blue;
    color: #fff;
  }
  &--description {
    padding: 1em;
    @include fz(16);
    line-height: 1.7;
  }
}

// recruit page
.features_section {
  padding-bottom: 10px;
  &--ttl_sub {
    @include fz(30);
    line-height: 1.6;
    text-align: center;
    color: $color-blue;
    margin-bottom: 35px;
  }
  &--list {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--list_ttl {
    @include fz(24);
    font-weight: bold;
    display: table-cell;
    width: 15%;
    text-align: center;
    vertical-align: middle;
    background: $color-blue;
    color: #fff;
    padding: 25px 0;
    border-radius: 10px 0 0 10px / 10px 0 0 10px;
    &-lg {
      @include fz(42);
    }
  }
  &--list_txt {
    @include fz(18);
    font-weight: bold;
    line-height: 1.4;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    background: #fff;
    padding-left: 25px; 
    border-radius: 0 10px 10px 0 / 0 10px 10px 0;
  }
}

// seminar page
.basic_section {
  padding-bottom: 90px;
  &--flow {
    width: 100%;
    height: 437px;
    background: url('/seminar/images/bg-basic-section-flow.png') no-repeat top center;
    position: relative;
    margin-bottom: 80px;
  }
  &--flow_list {}
  &--flow_item {
    position: absolute;
    @include fz(14);
    line-height: 1.2;
    background: #fff;
    border-radius: 5px;
    transition: .2s;
    &:hover {
      background: $color-blue;
      transition: .2s;
      color: #fff;
      cursor: pointer;
    }
    &-01 {
      top: 78px;
      left: 110px;
      width: 172px;
      padding: 56px 0 56px 5px;
    }
    &-02 {
      top: 220px;
      left: 110px;
      width: 172px;
      padding: 5px 0 5px 5px;
      letter-spacing: -0.8px;
    }
    &-03 {
      top: 360px;
      left: 110px;
      width: 172px;
      padding: 16px 0 16px 5px;
    }
    &-05 {
      top: 265px;
      left: 110px;
      width: 172px;
      padding: 25px 0 25px 5px;
    }
    &-06 {
      top: 220px;
      left: 296px;
      width: 135px;
      padding: 5px 0;
      text-align: center;
    }
    &-07 {
      top: 360px;
      left: 296px;
      width: 135px;
      padding: 16px 0;
      text-align: center;
    }
    &-08 {
      top: 80px;
      left: 446px;
      width: 172px;
      padding: 45px 0;
      text-align: center;
    }
    &-09 {
      top: 80px;
      left: 630px;
      width: 172px;
      padding: 163px 0;
      text-align: center;
    }
  }
  &--overlay {
    display: none;
    position: relative;
    background: #fff;
    padding: 30px;
    z-index: 11;
    top: 30px;
    left: 50px;
    width: 700px;
  }
  &--overlay_ttl {
    @include fz(20);
    line-height: 1.5;
    margin-bottom: 15px;
    &-sml {
      @include fz(16);
    }
    &:nth-child(2) {
      padding-top: 10px;
    }
  }
  &--overlay_ttl_sub {
    @include fz(18);
    margin-bottom: 10px;
  }
  &--overlay_txt {
    @include fz(16);
    line-height: 1.5;
    margin-bottom: 15px;
    &-sml {
      @include fz(14);
    }
  }
  &--overlay_close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    @include fz(30);
    font-weight: bold;
  }
  &--btn {
    width: 100%;
    text-align: center;
    &:before {
      top: 47px;
    }
  }
  &--btn_overlay {
    width: 100%;
    text-align: center;
    @include fz(18);
    margin-top: 20px;
  }
}
.overlay_bg,.overlay_bg_target {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0,0,0,0.8);
  display: none;
  &:hover {
    cursor: pointer;
  }
}
.seminar_tbl_wrap {
  position: relative;
}
.seminar_tbl {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  &--head {
    @include fz(18);
    background: $color-blue;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-right: 1px solid #fff;
    &:last-child {
      border: none;
      width: 87px;
    }
  }
  &--ttl {
    @include fz(14);
    line-height: 1.2;
    background: #f3eee9;
    vertical-align: middle;
    width: 26%;
    padding: 15px;
    border-bottom: 1px solid #b3b3b3;
    letter-spacing: -1px;
    &-sub {
      padding-left: 0;
    }
  }
  &--data {
    @include fz(14);
    line-height: 1.2;
    background: #fff;
    vertical-align: middle;
    padding-top: 15px;
    padding: 15px;
    border-bottom: 1px solid #b3b3b3;
    border-left: 1px solid #b3b3b3;
    &-target{}
    &-term {
      text-align: center;
      width: 87px;
    }
  }
  &--link {
    position: relative;
    color: inherit;
    &:after {
      display: inline-block;
      position: relative;
      content: url('/seminar/images/bg-seminar-tbl-link.png');
      top: 2px;
      margin-left: 5px;
    }
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      &:after {
        opacity: .8;
      }
    }
    &-double {
      &:after {
        top: 0;
        right: -80px;
      }
    }
    &-pc {
      display: inline;
    }
    &-sp {
      display: none;
    }
  }
  &-second {
    margin-bottom: 60px;
  }
  &--overlay {
    position: absolute;
    background: #fff;
    display: none;
    z-index: 10;
    width: 700px;
    top: 30px;
    left: 50px;
    padding: 20px;
  }
  &--overlay_ttl {
    @include fz(20);
    line-height: 1.5;
    margin-bottom: 15px;
  }
  &--overlay_txt {
    text-align: left;
    @include fz(16);
    line-height: 1.5;
    margin-bottom: 10px;
    &-sml {
      text-align: left;
    }
  }
  &--overlay_close {
    position: absolute;
    @include fz(30);
    right: 10px;
    top: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  &--overlay_btn {
    @include fz(18);
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}
.seminar_reservation {
  display: table;
  width: 100%;
  background: #fff;
  &--tel {
    display: table-cell;
    @include fz(58);
    color: $color-blue;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    a {
      color: inherit;
    }
  }
  &--txt {
    display: table-cell;
    @include fz(14);
    line-height: 1.7;
    vertical-align: middle;
  }
}
.target_section {
  padding-bottom: 64px;
}
.target_seminar {
  display: none;
}
// seminar list page
.seminar_list_section {
  padding-bottom: 40px;
  &--btn {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    &-orange {
      margin-top: 30px;
    }
  }
  &--schedule_btn {
    width: 390px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    .cmp-btn {
      @include fz(15);
      display: block;
      padding: 10px 20px 10px 40px;
      &:after {
        display: block;
        position: absolute;
        content: url('/images/img-icon-pdf.png');
        transform: scale(0.2,0.2);
        top: 19%;
        right: 20px;
        width: 10px;
        height: 10px;
      }
    }
  }
}
.sort {
  &--list {
    width: 100%;
    margin-bottom: 30px;
  }
  &--item {
  }
  &--link {
    @include fz(16);
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
  }
}
.seminar_list {
  &--box {
    background: #fff;
    border-radius: 10px;
    border: 4px solid #fff;
    padding: 20px;
    margin-bottom: 25px; 
    position: relative;
    transition: .2s;
    &:hover {
      cursor: pointer;
      border: 4px solid $color-blue;
      transition: .2s;
    }
  }
  &--ttl {
    @include fz(24);
    font-weight: bold;
    width: 380px;
    margin: 0 auto 20px;
    overflow: hidden;
    line-height: 1.3;
    &-lead {
      @include fz(14);
      color: $color-blue;
      line-height: 1.3;
    }
  }
  &--table_list {
    display: none;
    @include clearfix;
    border-top: 1px solid #b3b3b3;
    margin-top: 40px;
  }
  &--table_item {
    width: 100%;
    float: left;
    border-bottom: 1px solid #b3b3b3;
    &-sml {
      width: 40%;
    }
    &-md {
      width: 60%;
    }
  }
  &--table_in {
    width: 100%;
    display: table;
  }
  &--table_in_ttl {
    @include fz(14);
    line-height: 1.6;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #f3eee9;
    width: 76px;
  }
  &--table_in_data {
    @include fz(14);
    line-height: 1.6;
    display: table-cell;
    vertical-align: middle;
    width: calc(100%-76px);
    padding: 15px;
    &-apply {
      margin-left: 10px;
      padding: 5px;
      background: #f7931e;
      color: #fff;
      font-weight: bold;
      border-radius: 5px;
    }
  }
  &--content {
    display: table;
    position: relative;
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    background: #f3eee9;
    @include fz(14);
    line-height: 1.6;
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      border-bottom: 1px solid #333;
      border-right: 1px solid #333;
      transform: rotate(45deg);
      bottom: -25px;
      left: 50%;
      transition: .2s;
    }
    &-open {
      transition: .2s;
      &:after {
        transform: rotate(-135deg);
        bottom: -35px;
        transition: .2s;
      }
    }
  }
  &--content_ttl {
    display: table-cell;
    padding: 10px;
    background: #fff;
    vertical-align: middle;
    width: 15%;
    text-align: center;
    line-height: 1;
    &-date {
      display: block;
      padding-bottom: 5px;
      margin-bottom: -5px;
      border-bottom: 1px solid #ccc;
    }
    &-cal {
      margin-bottom: 3px;
      display: inline-block;
    }
  }
  &--content_op {
    background: $color-blue;
    color: #fff;
    display: none;
    border-radius: 3px;
    &-ttl {
      @include fz(16);
      font-weight: bold;
      display: inline-block;
      margin-bottom: 8px;
      letter-spacing: 1px;
    }
    &-link {
      color: #fff;
      line-height: 1.3;
      &:hover {
        text-decoration: underline;
      }
    }
    &-adviser {
      background: $color-green;
    }
  }
  &--content_txt {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
  }
}
.seminar_stamp {
  min-width: 120px;
  display: block;
  text-align: center;
  position: absolute;
  top: 20px;
  @include fz(16);
  border: 2px solid #fff;
  border-radius: 5px;
  &-category {
    border-color: $color-blue;
    left: 20px;
  }
  &-term {
    border-color: #666;
    right: 20px;
  }
  &--item {
    display: block;
    color: #fff;
    &-ttl {
      padding-top: 3px;
      padding-bottom: 3px;
    }
    &-content {
      color: #000;
      padding: 5px;
    }
    .seminar_stamp-category & {
      &-ttl {
        background: $color-blue;
      }
    }
    .seminar_stamp-term & {
      &-ttl {
        background: #666;
      }
    }
  }
}

// event page
.event_section {
  @include clearfix;
  &--btn {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
.search_result_announce {
  display: none;
}

// json list
.sort {
  &--list {
    @include clearfix;
    background: #fff;
    padding: 10px 10px 0;
    .current {
      background: $color-blue;
      color: #fff;
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 10px;
        height: 3px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(-45deg);
        top: 12px;
        left: 10px;
      }
    }
  }
  &--item {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  &--link {
    padding: 7px 10px 7px 30px;
    position: relative;
    transition: .2s;
    border-radius: 3px; 
    &:hover {
      cursor: pointer;
      background: $color-blue;
      color: #fff;
      transition: .2s;
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 10px;
        height: 3px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(-45deg);
        top: 12px;
        left: 10px;
      }
    }
  }
}

// faq page
.faq_section {
  padding-bottom: 60px;
}
.faq_list {
  width: 100%;
  display: table;
  margin-bottom: 20px;
  position: relative;
  &-question {
    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 12px;
      height: 12px;
      border-bottom: 1px solid #0052a0;
      border-right: 1px solid #0052a0;
      transform: rotate(45deg);
      top: 40%;
      right: 20px;
      transition: .2s;
    }
    &:hover {
      &:after {
        top: 43%;
        transition: .2s;
      }
    }
  }
  &-question_open {
    &:after {
      transform: rotate(-135deg);
      transition: .2s;
      top: 50%;
    }
  } 
  &-answer {
    display: none;
  }
  &--head {
    @include fz(18);
    font-weight: bold;
    width: 15%;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px 0 0 10px / 10px 0 0 10px;
    text-align: center;
    &-question {
      background: #0052a0;
    }
    &-answer {
      background: #666;
      width: 120px;
    }
  }
  &--txt {
    @include fz(18);
    font-weight: bold;
    letter-spacing: -0.5px;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    background: #fff;
    padding: 20px 30px 20px 25px;
    border-radius: 0 10px 10px 0 / 0 10px 10px 0;
    line-height: 1.8;
    transition: .2s;
    &-question {
      border: 2px solid #fff;
      &:hover {
        cursor: pointer;
        border-color: #0052a0;
        transition: .2s;
      }
    }
    &-answer {
      font-weight: normal;
      width: 680px;
    }
  }
}

// voice page
.voice_section {
  padding-bottom: 45px;
}
.voice_box {
  padding: 25px;
  margin-bottom: 25px;
  background: #fff;
  border-radius: 10px;
  &--ttl {
    @include fz(27);
    line-height: 1.7;
    margin-bottom: 25px;
  }
  &--txt {
    @include fz(16);
    line-height: 1.7;
    padding-bottom: 35px;
    border-bottom: 1px solid #b2b2b2;
  }
  &--person {
    padding-top: 25px;
    @include clearfix;
  }
  &--pic {
    float: left;
    display: block;
    margin-right: 30px;
  }
  &--person_detail {
    float: left;
  }
  &--name {
    display: inline-block;
    @include fz(24);
    margin-bottom: 30px;
    line-height: 1.2;
    &-sml {
      @include fz(18);
    }
    &-job_ctg {
      @include fz(18);
    }
  }
  &--course_list {
  }
  &--course_item {
    margin-bottom: 10px;
    @include fz(18);
  }
  &--course_link {
    color: #fff;
    display: inline-block;
    background: $color-blue;
    padding: 10px;
  }
}

// support menu
.support_menu_section {
  &--ttl {
    @include fz(30);
    line-height: 1.6;
    font-weight: bold;
    margin-bottom: 30px;
  }
  &--icon {
    // transform: scale(0.5,0.5);
    margin-bottom: -6px;
    margin-left: 10px;
  }
  &--btn {
    position: relative;
    margin-bottom: 0;
    position: relative;
    padding: 0.7em 3.6em 0.7em 4em;
    @include fz(22);
    font-weight: bold;
    line-height: 1.7;
    display: inline-block;
    color: #fff;
    border: 2px solid $color-orange;
    transition: .2s;
    background: $color-orange;
    width: 100%;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: '';
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      top: 40%;
      left: 13px;
      transition: .2s;
    }
    &:hover {
      border-color: #fff;
      &:before {
        transition: .2s;
        left: 18px;
      }
    }
    &:after {
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      right: 50px;
      top: 15%;
      transform: scale(0.5,0.5);
    }
    &-open {
      &:before {
        transform: rotate(-135deg);
      }
    }
    &-counseling {
      background: $color-beige;
      border-color: $color-beige;
      &:after {
        content: url('/support_menu/images/img-support-menu-section-btn-counseling.png');
      }
    }
    &-seminar {
      &:after {
        content: url('/support_menu/images/img-support-menu-section-btn-seminar.png');
      }
    }
    &-recruit {
      background: $color-yellow;
      border-color: $color-yellow;
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        content: url('/support_menu/images/img-support-menu-section-btn-recruit.png');
      }
    }
    &-event {
      background: $color-green;
      border-color: $color-green;
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        content: url('/support_menu/images/img-support-menu-section-btn-event.png');
      }
    }
    &-beginner {
      margin-bottom: 30px;
      &:after {
        content: url('/support_menu/images/img-support-menu-section-btn-beginner.png');
      }
    }
  }
  &--course_detail {
    display: none;
    padding: 20px;
    background: #fff;
  }
  &--course_ttl {
    @include fz(20);
    margin-bottom: 15px;
    line-height: 1.5;
  }
  &--course_ttl_sub {
    @include fz(18);
    margin-bottom: 10px;
  }
  &--course_link {
    @include fz(16);
    width: 100%;
    text-align: center;
  }
  &--course_txt {
    @include fz(16);
    margin-bottom: 15px;
  }
  &--txt_last {
    margin-top: 20px;
  }
}

// contact page
.contact_section {
  &--ttl {
    @include fz(21);
    color: $color-blue;
    border-top: 1px solid $color-blue;
    border-bottom: 1px solid $color-blue;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
  &--txt {
    @include fz(16);
    line-height: 1.7;
  }
}
.contact_form {
  &--list {
    width: 100%;
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    display: table;
    border-radius: 10px;
    @include fz(16);
    line-height: 1.7;
  }
  &--list_wrap {
    display: block;
    width: 100%;
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    @include fz(16);
    line-height: 1.7;
    .contact_form--list {
      display: table;
      border-radius: 0;
      margin-bottom: 20px;
      padding: 0;
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }
  &--txt {
    @include fz(16);
    margin-bottom: 15px;
    padding-left: 15px;
    &-red {
      color: #ff0000;
    }
  }
  &--ttl {
    display: table-cell;
    width: 33%;
    padding-left: 15px;
    vertical-align: middle;
    &-required {
      margin-left: 10px;
      background: $color-blue;
      @include fz(12);
      padding: 3px 5px;
      color: #fff;
    }
    &-inquiry {
      vertical-align: top;
    }
  }
  &--description {
    display: table-cell;
    width: 67%;
    padding-left: 15px;
    vertical-align: middle;
    &-sub {
      margin-left: 10px;
      @include fz(14);
    }
    input {
      padding: 5px;
      border: 2px solid #e5e5e5;
      border-radius: 3px;
      @include fz(14);
    }
    .input {
      &-mail {
        width: 280px;
      }
      &-age {
        width: 50px;
      }
      &-name,&-phone,&-user {
        width: 200px;
      }
    }
    textarea {
      width: 100%;
      height: 190px;
      border: 2px solid #e5e5e5;
      border-radius: 3px;
      @include fz(14);
    }
    .select_wrap {
      border: 2px solid #e5e5e5;
      border-radius: 3px;
      display: inline-block;
      position: relative;
      width: 100%;
      padding: 7px 5px;
      overflow: hidden;
      &:after {
        display: block;
        position: absolute;
        content: '';
        border: 8px solid transparent;
        border-top: 13px solid #ccc;
        top: 9px;
        right: 9px;
      }
    }
    select {
      width: 100%;
      background: none;
      @include fz(14);
      display: block;
      line-height: 1;
      border: 0;
    }
    &-select {
      border: 2px solid #e5e5e5;
      border-radius: 3px;
      display: inline-block;
      position: relative;
      width: 98%;
      padding: 7px 5px;
      margin-left: 15px;
      overflow: visible;
      // &:after {
      //   display: block;
      //   position: absolute;
      //   content: '';
      //   border: 8px solid transparent;
      //   border-top: 13px solid #ccc;
      //   top: 9px;
      //   right: 9px;
      // }
    }
  }
  &--select {
    width: 80px;
    display: inline-block;
  }
  &--checkbox {
    text-align: center;
    margin-bottom: 35px;
    @include fz(16);
    label {
      margin-left: 10px;
    }
  }
  &--submit_wrap {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotate(-45deg);
      z-index: 1;
      top: 40%;
      left: 20px;
      transition: .2s;
    }
    &:hover {
      &:before {
        left: 25px;
        transition: .2s;
      }
    }
  }
  &--submit {
    @include fz(22);
    text-decoration: none;
    text-align: center;
    width: 100%;
    display: block;
    background: $color-blue;
    color: #fff;
    font-weight: bold;
    border: 2px solid $color-blue;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 45px;
    position: relative;
    letter-spacing: 1px;
    transition: .2s;
    &:hover {
      border: 2px solid #fff;
      transition: .2s;
      cursor: pointer;
    }
  }
}
.contact_privacy {
  width: 100%;
  height: 190px;
  background: #fff;
  padding: 15px 20px;
  margin-bottom: 20px;
  overflow: auto;
  &--txt {
    @include fz(14);
    line-height: 1.7;
    margin-bottom: 30px;
  }
  &--list {
    @include fz(14);
    line-height: 1.5;
  }
  &--item {
    padding-left: 10px;
    margin-bottom: 20px;
    &-ttl {
      @include fz(18);
      font-weight: bold;
      display: block;
      margin-left: -10px;
      margin-bottom: 5px;
    }
    &-sml {
      @include fz(12);
      margin: 5px 0;
      display: inline-block;
    }
    &-address {
      width: 90%;
      margin: 10px auto;
    }
  }
}
.contact_helpdesk {
  padding: 15px 20px;
  border: 1px solid $color-blue;
  background: #fff;
  &--txt {
    @include fz(14);
    margin-bottom: 5px;
  }
  &--list {
   display: table;
   width: 100%;
 }
 &--phone {
  @include fz(38);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}
&--description {
  @include fz(15);
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  line-height: 1.3;
    &-sml {
      @include fz(12);
      font-weight: normal;
    }
  }
  .tel_link {
    color: #000;
  }
}
// news index page
.news_list {
  &--wrap {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  &--list {
    display: table;
    margin-bottom: 20px;
    line-height: 1.4;
    &:last-child {
      margin-bottom: 0;
    }
    .news {
      background: $color-lightblue;
    }
    .event {
      background: $color-green;
    }
    .seminar {
      background: $color-orange;
    }
    .others {
      background: #989898;
    }
  }
  &--date {
    display: table-cell;
    vertical-align: top;
    width: 10%;
    padding: 6px 10px 6px 0;
  }
  &--label {
    display: table-cell;
    vertical-align: top;
    @include fz(12);
    width: 10%;
    height: 25px;
    text-align: center;
    color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    &-inner {
      display: block;
      padding: 4px 0;
      @include fz(13);
    }
  }
  &--ttl {
    display: table-cell;
    vertical-align: top;
    width: 80%;
    padding: 6px 0 6px 10px;
    a {
      color: #000;
      display: block;
      padding-left: 10px;
      line-height: 1.3;
      position: relative;
      &:before {
        display: block;
        position: absolute;
        content: '';
        margin-left: 5px;
        margin-top: 5px;
        margin-right: 5px;
        width: 7px;
        height: 7px;
        border-bottom: 1px solid $color-blue;
        border-right: 1px solid $color-blue;
        transform: rotate(-45deg);
        left: -10px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &--link {
    color: inherit; 
  }
}
// news page
.news_page {
  &--wrap {
    padding: 35px 45px;
    background: #fff;
    border-radius: 10px;
    @include fz(16);
    line-height: 1.7;
  }
  &--top {
    @include clearfix;
    width: 100%;
  }
  &--pic_wrap {
  }
  &--pic {
    float: right;
    margin: 0 0 20px 20px;
    max-width: 40%;
    transition: .1s;
    &:hover {
      cursor: pointer;
      opacity: .8;
      transition: .1s;
    }
  }
  &--overlay {
    opacity: 0;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
  }
  &--overlay_pic {
    margin: 0 auto;
    max-width: initial;
  }
  &--ttl {
    margin-bottom: 40px;
    font-weight: bold;
    @include fz(22);
  }
  &--btn {
    margin-top: 50px;
  }
  &--btn_bottom{ 
  }
  &--list_wrap {
    border-top: 1px solid #ccc;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  &--list {
    display: table;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
  }
  &--list_ttl {
    display: table-cell;
    width: 20%;
    color: $color-blue;
    font-weight: bold;
    vertical-align: top;
  }
  &--list_description {
    display: table-cell;
    width: 80%;
    vertical-align: top;
    span {
      @include fz(14);
      display: inline-block;
    }
  }
}

// event_bnr
.event_bnr {
  margin-bottom: 30px;
  &--bnr_img {
    &:hover {
      opacity: .8;
      transition: .2s;
      cursor: pointer;
    }
  }
  &--ttl {
    margin-bottom: 20px;
    margin-left: 30px;
  }
  &--modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 10;
  }
  &--modal_inner {
    width: 840px;
    position: relative;
    margin: 100px auto 0;
    padding: 30px 0 0;
    background: #fff;
  }
  &--info {
    background: $color-blue;
    padding: 15px 0 15px 30px;
    color: #fff;
  }
  &--info_date {
    display: block;
    .sp {
      display: none;
    }
  }
  &--info_day {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  &--info_time {
    @include fz(20);
    font-family: 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'Meityo', 'メイリオ', sans-serif;
    font-weight: bold;
    display: inline-block;
    &-reception {
      @include fz(15);
      font-weight: normal;
    }
  }
  &--info_description {
    @include fz(14);
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 5px 15px;
    &-bold {
      font-weight: bold;
    }
    &-note {
      padding-left: 42px;
      @include fz(12);
    }
  }
  &--pic_koga {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &--bottom {
    background: #c3996d;
    padding: 15px 0 20px 0;
  }
  &--name {
    margin-bottom: 15px;
    margin-left: 30px;
  }
  &--apply_btn {
    width: 336px;
    @include fz(33);
    position: absolute;
    right: 30px;
    bottom: 90px;
    border-radius: 10px;
    border-color: #ff0000;
    background: #ff0000;
    padding: 15px 0;
    text-align: center;
    &:before {
      width: 20px;
      height: 20px;
      border-width: 2px;
    }
  }
  &--profile {
    width: 440px;
    padding: 10px 5px 10px 30px;
    background: rgba(255,255,255,0.6);
    .pc {
      display: inline;
    }
  }
  &--profile_ttl {
    @include fz(16);
    font-weight: bold;
    color: #6a3906;
    margin-bottom: 5px;
  }
  &--profile_description {
    letter-spacing: -0.5px;
    line-height: 1.5;
  }
  &--pdf_dl {
    width: 336px;
    padding: 10px 0 15px;
    text-align: center;
    @include fz(22);
    font-weight: bold;
    position: absolute;
    border-radius: 10px;
    right: 30px;
    bottom: 20px;
    background: #4d4d4d;
    color: #fff;
    border: 2px solid #4d4d4d;
    transition: .2s;
    &:hover {
      border-color: #fff;
      transition: .2s;
    }
  }
  &--pdf_dl_before {
    display: inline-block;
    margin-bottom: -7px;
    margin-right: 5px;
  }
  &--pdf_dl_after {
    display: inline-block;
    margin-bottom: -7px;
    margin-left: 5px;
  }
  &--modal_close {
    text-align: center;
    @include fz(40);
    color: #fff;
    &:before {
      content: '×';
      display: block;
    }
    &:hover {
      color: $color-blue;
      cursor: pointer;
      transition: .2s;
    }
  }
}




