@charset "UTF-8";

// #フォントサイズをremに変換
@mixin fz($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}
// #clearfix
@mixin clearfix {
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
    content: '.';
  }
}
// IE transform
@mixin rotate($val) {
  -ms-transform: rotate($val + deg);
}





