@charset "UTF-8";

@media screen and (max-width:600px) {
  // base
  .wrap {
    min-width: 100%;
    width: 100%;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }

  // common
  .page_head {
    display: none;
  }
  .nav_blk {
    width: 100%;
    height: 70px;
    padding: 10px;
    min-height: initial;
    overflow: hidden;
    background: #fff;
    @include clearfix;
    &-open {
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.8);
      z-index: 100;
      overflow-y: scroll;
      .hamburger--btn {
        span {
          border-color: #fff;
          &:nth-child(1) {
            top: 24px;
            transform: rotate(45deg);
            transition: .2s;
          }
          &:nth-child(2) {
            display: none;
            transition: .2s;
          }
          &:nth-child(3) {
            top: 24px;
            transform: rotate(-45deg);
            transition: .2s;
          }
        }
      }
      .nav_blk_btn--item-login {
        img {
          border: 1px solid #ccc;
        }
      }
    }
    &-open_hide {
      height: 100%;
    }
    .sns {
      display: none;
    }
  }
  .logo {
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    img {
      width: auto;
      height: 50px;
    }
    &-open {
      background: none;
    }
  }
  .nav_blk_btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 70px;
    width: 90px;
    &--list {
      @include clearfix;
    }
    &--item {
      width: 47%;
      float: left;
      border-radius: 5px;
      &-seminar {
        background: #333;
        margin-right: 5px;
        padding: 10px 0;
        img {
          display: block;
          margin-top: -3px;
          width: 90%;
          margin-right: auto;
          margin-left: auto;
        }
      }
      &-login {
        background: $color-blue;
        padding: 8.5px 0;
        img {
          display: block;
          width: 90%;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
  .hamburger {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 50px;
    &--btn {
      position: relative;
      display: block;
      color: #000;
      @include fz(10);
      &:hover {
        cursor: pointer;
      }
      &:after {
        content: 'MENU';
        display: block;
        position: absolute;
        top: 42px;
      }
      span {
        display: block;
        position: absolute;
        width: 100%;
        border-bottom: solid 3px #666;
        &:nth-child(1) {
          top: 15px;
          transition: .2s;
        }
        &:nth-child(2) {
          top: 25px;
          transition: .2s;
        }
        &:nth-child(3) {
          top: 35px;
          transition: .2s;
        }
      }
    } 
  }
  .gl_nav {
    display: none;
    padding-top: 15px;
    z-index: 1;
    clear: both;
    &--list {
    }
    &--link {
      padding: 8px 0 8px 20px;
      text-align: center;
      &:before {
        transform: scale(0.4,0.4);
      }
      &-service {
        &:before {
          top: -10px;
          left: -5px;
        }
      }
      &-beginner {
        &:before {
          top: -11px;
          left: -6px;
        }
      }
      &-counseling {
        &:before {
          top: -9px;
          left: -12px;
        }
      }
      &-seminar {
        &:before {
          top: -7px;
          left: -10px;
        }
      }
      &-event {
        &:before {
          top: -10px;
          left: -7px;
        }
      }
      &-recruit {
        &:before {
          top: -9px;
          left: -11px;
        }
      }
      &-staff {
        &:before {
          top: -13px;
          left: 0px;
        }
      }
    }
  }
  .youtube_btn {
    display: none;
  }
  .btn_promote {
    width: 100%;
    color: #fff;
    display: block;
    text-align: center;
    border: 1px solid #fff;
    margin: 0 auto 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 20px;
    position: relative;
    transition: .15s;
    &:before {
      position: absolute;
      display: block;
      transform: scale(0.2,0.2);
    }
    &-yt {
      &:before {
        content: url('/images/img-gl-nav-link-yt.png');
        top: -29px;
        left: -34px;
      }
    }
    &-fb {
      &:before {
        content: url('/images/img-gl-nav-link-fb.png');
        top: -29px;
        left: -16px;
      }
    }
  }
  .btn_contacts {
    display: block;
    @include clearfix;
    width: 100%;
    margin-top: 10px;
    &--item {
      float: left;
      width: 48%;
      margin-right: 4%;
      text-align: center;
      color: #fff!important;
      @include fz(11);
      line-height: 1.3;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    &--link {
      display: block;
      text-align: center;
      border-radius: 5px;
      width: 100%;
      height: 45px;
      margin-right: 5%;
      margin-bottom: 5px;
      &-mail {
        background: #e1413f;
      }
      &-tel {
        background: #8cc63f;
        color: #fff!important;
      }
      &-bold {
        color: #fff!important;
        @include fz(13);
        font-weight: bold;
      }
    }
    &--link_pic {
      transform: scale(0.5,0.5);
      &-mail {
        margin-top: -10px;
      }
      &-tel {
        margin-top: -8px;
      }
    }
  }
  .search_menu_sp {
    display: none;
    background: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    overflow-y: scroll;
    &--ttl {
      @include fz(18);
      text-align: center;
      line-height: 1.7;
      margin-bottom: 20px;
    }
    &--list {
    }
    &--item {
    }
    &--link {
      @include fz(14);
      display: block;
      position: relative;
      padding: 10px 10px 10px 20px;
      text-align: center;
      color: #fff;
      border: 1px solid #fff;
      margin-bottom: 10px;
      line-height: 1.5;
      &:before {
        position: absolute;
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(-45deg);
        top: 40%;
        left: 10px;
      }
    }
    &--close {
      @include fz(40);
      text-align: center;
      color: #fff;
    }
  }
  .access {
    min-height: initial;
    &--map {
      width: 100%;
      height: 280px;
      float: none;
    }
    &--contents {
      float: none;
      padding: 20px;
    }
    &--ttl {
      @include fz(18);
    }
    &--tel {
      @include fz(20);
    }
    &--tel_number {
      @include fz(32);
      color: $color-blue;
    }
    &--txt {
      margin-bottom: 10px;
    }
    &--ttl_sub {
      margin-bottom: 10px;
      &-sml {
        @include fz(15);
        margin-bottom: 20px;
      }
    }
  }
  .footer {
    &--txt {
      @include fz(12);
      &-copy {
        display: inline-block;
        @include fz(13);
        margin-bottom: 5px;
      }
    }
  }
  .sns {
    float: none;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 10px;
    #beginner &,#counseling &,#seminar &,#seminar-list &,#event &,#recruit &,#staff &,#faq &,#voice & {
      padding-bottom: 20px;
    }
    &--list {
      text-align: center;
      display: block;
      line-height: 0;
    }
    &--item {
      display: inline;
      float: none;
      margin-left: 0;
    }
  }

  // components
  .contents {
    width: 100%;
    padding-top: 70px;
    padding-left: 0;
  }
  .cmp-inner {
    width: 100%;
  }
  .cmp-btn {
    @include fz(16);
    &:before {
      top: 40%;
    }
    &-sp {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .cmp-section {
    padding-top: 20px;
    padding-bottom: 20px;
    &--ttl {
      @include fz(20);
      padding: 20px;
      &-menu {
        @include fz(16);
      }
      &-counseling,&-seminar,&-recruit {
        &:before {
          transform: scale(0.3,0.3);
          top: -75px;
          left: 30%;
        }
      }
      #support_menu & {
        @include fz(18);
        line-height: 1.7;
        letter-spacing: -1px;
      }
      #news & {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &--ttl_sub {
      @include fz(18);
      #seminar & {
        margin-top: 30px;
        margin-bottom: 0;
      }
      &-rev {
        border: 2px solid $color-blue;
      }
    }
  }
  .cmp-label_wrap {
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .cmp-txt_label {
    @include fz(16);
    display: block;
    margin-bottom: 10px;
    &:last-child {
      margin-left: 0;
    }
  }
  .cmp--txt {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    &-md {
      @include fz(16);
      line-height: 1.7;
    }
    &-sml {
      @include fz(14);
      padding-left: 0;
      padding-right: 0;
    }
    .support_menu_section & {
      white-space: initial;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .cmp-point--two_wrap {
    width: 100%;
  }
  .cmp-point {
    &--two {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      @include clearfix;
      .cmp-point--item {
        display: block;
        float: left;
        width: 48%;
        padding: 10px;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    &--three {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 35px;
      @include clearfix;
      .cmp-point--item {
        display: block;
        float: left;
        width: 32%;
        padding: 5px;
        margin-left: 2%;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .cmp-contact {
    display: block;
    padding: 10px;
    margin-bottom: 0;
    &--head {
      padding: 10px 0 10px 20px;
      width: 100%;
      display: block;
      border-radius: 5px 5px 0 0 / 5px 5px 0 0;
    }
    &--list_wrap {
      border-radius: 0 0 5px 5px / 0 0 5px 5px;
    }
    &--list {
      display: block;
    }
    &--ttl {
      @include fz(18);
      display: block;
      width: 100%;
      &-phone {
        @include fz(36);
        width: 100%;
        color: $color-blue;
        #event & {
          a {
            color: #000;
          }
        }
      }
    }
    &--txt {
      @include fz(14);
      display: block;
      letter-spacing: 0;
      line-height: 1.3;
    }
  }
  .cmp-flow_box {
    padding-left: 20px;
    padding-right: 20px;
    .cmp-flow_box--item {
      width: 100%;
      margin-right: 0;
      &:after {
        right: 48%;
      }
    }
    &--list {
      margin-bottom: 0;
    }
    &--item {
      @include fz(16);
      padding-bottom: 3px;
      margin-bottom: 20px;
      line-height: 1.7;
      &:after {
        border-left: 10px solid transparent;
        border-top: 10px solid #000;
        top: 107%;
      }
    }
    &--head {
      padding: 3px 0;
    }
  }
  .cmp-step_box {
    padding-left: 20px;
    padding-right: 20px;
    &--txt {
      text-align: left;
      padding-bottom: 0;
      margin-bottom: 30px;
    }
    &--step_wrap {
      width: 100%;
      #seminar & {
        width: 100%;
        margin-bottom: 30px;
      }
    }
    &--step {
      width: 100%;
      float: none;
      min-height: initial;
      margin-bottom: 30px;
      #flow & {
        margin-bottom: 50px;
        &:after {
          border-left: 15px solid transparent;
          border-top: 20px solid #000;
          top: initial;
          right: 45%;
          bottom: -50px;
        }
        &:nth-child(2) {
          margin-bottom: 0;
        }
        img {
          max-width: 100%;
        }
      }
      &:nth-child(2) {
        margin-bottom: 0;
      }
      #seminar & {
        width: 100%;
        margin-right: 0;
        &:nth-child(2) {
          float: none;
          margin-bottom: 30px;
        }
        &:nth-child(3) {
          margin-bottom: 0;
        }
      }
    }
    &--step_ttl {
      @include fz(18);
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &--step_txt {
      @include fz(16);
      padding: 15px;
      #seminar & {
        &-tel {
          @include fz(20);
          color: $color-blue;
        }
        &-tel_number {
          @include fz(38);
        }
      }
      &-tel_number {
        @include fz(36);
        color: $color-blue;
      }
      &-sml {
        @include fz(14);
        padding-top: 0;
      }
    }
    &--step_pic {
      width: 80%;
      margin: 0 auto;
      display: block;
    }
    &--btn {
      padding: 10px 20px;
      &:before {
        top: 40%;
      }
      #seminar & {
        @include fz(25);
        padding: 5px 0 15px;
        &-sml {
          @include fz(16);
        }
      }
    }
    .cmp--txt {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .cmp-join {
    padding-bottom: 40px;
    &--ttl {
      @include fz(20);
      letter-spacing: -1px;
    }
    &--txt {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
      text-align: left;
    }
    .cmp-btn {
      margin: 0 20px;
      display: block;
      padding: 10px 20px;
    }
  }
  .cmp-announce {
    position: absolute;
    &--lead {
      @include fz(20);
      white-space: initial;
    }
    &--close {
      padding-top: 20px;
      &-cross {
        display: none; 
      }
    }
  }
  .cmp-announce_inner {
    padding: 0 20px;
    margin-top: 50px;
    width: 100%;
  }
  .cmp-announce_blk {
    &--ttl {
      @include fz(20);
      padding: 10px 0;
    }
    &--btn {
      padding: 10px 20px 10px 35px;
      &:before {
        top: 40%;
      }
    }
    &--btn_login {
      @include fz(25);
      padding: 5px 0 15px;
      margin-left: 0;
      margin-right: 0;
      &-sml {
        @include fz(18);
      }
    }
    &--item {
      &-pic {
        padding: 0;
        margin-bottom: 10px;
      }
      &-next {
        &:after {
          left: 35%;
        }
      }
    }
    &-noregistrant {
      float: none;
      width: 100%;
    }
    &-registrant {
      float: none;
      width: 100%;
      .cmp-announce_blk--item-btn {
        position: relative;
        bottom: initial;
        left: initial;
      }
    }
    &--pic {
      right: 0;
      &-01 {
        top: 120px;
      }
      &-02 {
        top: 300px;
      }
    }
    .cmp-contact {
      padding: 0;
    }
  }

  .margin-txt {
    &-md {
      margin-bottom: 30px;
    }
  }

  // layout
  .main_visual {
    background-size: cover;
    background-position: 70% 0;
    background-image: url('/images/bg-main-visual-sp.jpg');
    height: 230px;
    padding: 0 10px 20px;
    &--ttl {
      padding-top: 0;
      width: 60%;
      margin: -43px 0 90px 0 ;
    }
    &--ttl_sub {
      width: 80%;
      margin: 10px auto;
    }
    &--btn_wrap {
      position: relative;
      left: initial;
      bottom: initial;
      text-align: center;
      z-index: 1;
      margin-bottom: 10px;
      .main_visual--btn {
        width: 100%;
        &:before {
          top: 17px;
        }
      }
    }
  }
  .topics {
    position: relative;
    width: auto;
    display: block;
    padding: 10px;
    margin: -20px 10px 30px;
    &--list_wrap {
      display: block;
      border-left: none;
      padding-left: 0;
    }
    &--list {
      display: block;
      width: 100%;
      padding-bottom: 5px;
      border-bottom: 1px dotted #ccc;
      &:last-child {
        border-bottom: none;
      }
    }
    &--date {
      display: inline-block;
      float: left;
      width: auto;
      padding-top: 3px;
      margin-bottom: 3px;
    }
    &--label {
      display: inline-block;
      margin-bottom: 3px;
      width: auto;
      height: auto;
      @include fz(13);
      &-inner {
        display: inline-block;
        padding: 3px 10px;
        height: initial;
      }
    }
    &--ttl {
      display: block;
      width: 100%;
      padding-left: 0;
      clear: both;
      line-height: 1.4;
      a {
        padding-left: 15px;
      }
      &:after {
        left: -5px;
      }
    }
    &--all {
      display: block;
      text-align: center;
      padding-top: 20px;
      width: 100%;
      &:before {
        content: none;
      }
      &:after {
        content: none;
      }
    }
    &--all_arrow {
      display: block;
      padding: 10px 0;
      position: relative;
      background: $color-blue;
      color: #fff;
      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        margin: 0;
        padding-bottom: 0;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(-45deg);
        left: 10px;
        bottom: 12px;
      }
    }
  }
  .support_section {
    min-height: initial;
    padding-top: 90px;
    &--ttl {
      @include fz(20);
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
    }
    &--pic_man {
      width: 26%;
      left: 0;
    }
    &--pic_woman {
      width: 30%;
      right: -10px;
    }
  }
  .support_circle_wrap {
    height: initial;
  }
  .support_circle {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto 10px;
    &-counseling {
      top: inherit;
      left: inherit;
    }
    &-program {
      top: inherit;
      left: inherit;
    }
    &-job {
      top: inherit;
      left: inherit;
    }
    &--icon {
      height: auto;
    }
  }
  .service_section {
    &--pic_woman {
      display: none;
    }
  }
  .counseling_section {
    &--pic_man {
      display: none;
    }
  }
  .seminar_section {
    &--pic_woman {
      display: none;
    }
    &--btn_wrap {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .recruit_section {
    &--btn_wrap {
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &--btn {
      width: 100%;
      margin-left: 0;
      text-align: center;
      &:before {
        top: 40%;
      }
    }
    .margin-btn {
      margin-bottom: 0;
    }
    &--ttl {
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      @include fz(18);
    }
    &--pic_man {
      display: none;
    }
  }
  .event_info {
    padding-left: 10px;
    padding-right: 10px;
    &--list_head {
      display: none;
    }
    &--list {
      display: block;
      padding: 10px;
    }
    &--item {
      display: block;
      width: 100%;
      text-align: left;
      @include fz(14);
      padding-top: 0;
      padding-bottom: 5px;
      &:nth-child(1) {
        width: 100%;
        text-align: left;
      }
      &:nth-child(2) {
        width: 100%;
        padding-left: 0;
        padding-bottom: 0;
      }
      &:nth-child(3) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      &-inner {
        @include fz(13);
      }
      // &-inner_target {
      //   display: inline-block;
      // }
      &-inner_accepting {
        padding: 2px 10px;
        display: inline-block;
        margin-bottom: 3px;
      }
    }
  }

  .ctg_visual {
    width: 100%;
    position: relative;
    background-position: top right;
    #beginner & {
      height: 258px;
      background-size: auto 150px;
      background-position: top right;
    }
    #counseling & {
      height: 236px;
      background-size: auto 150px;
      background-position: top right;
    }
    #seminar & {
      height: 210px;
      background-size: auto 150px;
      background-position: top right;
    }
    #seminar-list & {
      height: 236px;
      background-size: auto 150px;
      background-position: top right;
    }
    #event & {
      height: 236px;
      background-size: auto 150px;
      background-position: top right;
    }
    #recruit & {
      height: 258px;
      background-size: auto 150px;
      background-position: top right;
    }
    #faq & {
      height: 236px;
      background-size: auto 150px;
      background-position: top right;
    }
    #voice & {
      height: 236px;
      background-size: auto 150px;
      background-position: top right;
    }
    #support_menu & {
      height: 150px;
      background-size: auto 150px;
      background-position: top right;
    }
    #contact &,#news & {
      height: 111px;
      background-size: auto 110px;
      background-position: top left;
    }
    &--ttl {
      @include fz(25);
      padding: 10px 20px 25px;
      margin-bottom: 0;
      &-sml {
        @include fz(20);
      }
      #counseling & {
        padding-top: 0;
        padding-bottom: 15px;
        margin-bottom: 0;
      }
      #voice & {
        text-shadow: 1px 1px 3px #fff;
      }
      #support_menu & {
        width: 70%;
        top: 45px;
        left: 95px;
        right: 0;
        background: none;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
        img {
          display: none;
        }
      }
    }
    &--ttl_txt {
      @include fz(18);
      color: #000;
      line-height: 1.8;
      &-yellow {
        border-bottom: 5px solid #fbed21;
      }
      &-lightblue {
        border-bottom: 5px solid #7ae1ea;
      }
      &-lightpurple {
        border-bottom: 5px solid #ffa6ff;
      }
      &-lightgreen {
        border-bottom: 5px solid #a7e53f;
      }
      &-orange {
        border-bottom: 5px solid #fbba57;
      }
      &-purple {
        border-bottom: 5px solid #d19fe5;
      }
      &-pink {
        border-bottom: 5px solid #f9b3b5;
      }
      &-beige {
        border-bottom: 5px solid #d7bb9b;
      }
    }
    &--lead {
      @include fz(14);
      padding: 10px 20px;
      background: rgba(0,0,0,0.8);
      position: absolute;
      color: #fff;
      width: 100%;
      top: 150px;
    }
    &--pic {
      width: 20%;
      bottom: 0;
      left: 0;
    }
  }
  .facility_section {
    padding-bottom: 50px;
    &--pic_woman {
      width: 25%;
      left: 0;
    }
    &--pic_building {
      width: 21%;
      right: 0;
    }
  }
  .adviser_section {
    &--pic_man {
      display: none;
    }
    &--point_two {
      margin-bottom: 0;
    }
  }
  .onestop_section {
    &--btn_list {
      padding-left: 20px;
      padding-right: 20px;
    }
    &--item {
      width: 100%;
      margin-left: 0;
    }
    &--btn {
      margin-bottom: 10px;
      &:before {
        top: 21px;
      }
    }
  }
  .mypage_section {
    &--ttl_sub {
      @include fz(18);
      padding: 10px;
      margin: 0 20px 20px;
      line-height: 1.5;
      display: block;
      text-align: center;
    }
    &--txt {
      @include fz(16);
      margin-bottom: 30px;
    }
    &--pic {
      padding-left: 20px;
      padding-right: 20px;
    }
    &--btn {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .space_section {
    &--pic_wrap {
      margin: 0 0 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &--pic {
      float: none;
      margin-left: 0;
      margin-bottom: 15px;
      &:nth-child(2n) {
        margin-left: 0;
      }
      &:nth-child(3) {
        margin-bottom: 15px;
      }
    }
    &--txt {
      margin-left: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .counseling_section {
    &--txt {
      margin-bottom: 30px;
      &-left {
        padding-left: 20px;
      }
    }
    &--ttl_sub {
      @include fz(18);
      text-align: center;
    }
  }
  .introduction_section {
    padding-left: 20px;
    padding-right: 20px;
    &--card {
      width: 100%;
      margin-left: 0;
      float: none;
      display: table;
      border-radius: 5px;
      border: 1px solid #fff;
      padding: 4px;
    }
    &--card_pic {
      border-radius: 5px;
      display: table-cell;
      vertical-align: middle;
    }
    // &--name {
    //   @include fz(14);
    //   padding: 3px 0;
    //   margin-left: 2%;
    //   width: 58%;
    //   float: right;
    // }
    &--description {
      @include fz(13);
      background: #fff;
      width: 56%;
      margin-left: 4%;
      padding: 5px 5px 5px 10px;
      line-height: 1.4;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .basic_section {
    &--flow {
      background: none;
      height: auto;
      margin-bottom: 40px;
    }
    &--flow_pic_wrap {
      width: 100%;
      overflow: auto;
    }
    &--flow_pic_sp {
      margin-bottom: 20px;
      max-width: initial;
    }
    &--flow_item {
      @include fz(14);
      position: relative;
      line-height: 1.5;
      text-align: center;
      &-01,&-02,&-03,&-04,&-05,&-06,&-07,&-08,&-09 {
        width: 100%;
        top: initial;
        left: initial;
        padding: 10px;
        margin-bottom: 10px;
      }
    }
    &--overlay {
      width: 100%;
      top: 0;
      left: 0;
      padding: 10px;
      margin-bottom: 10px;
    }
    &--overlay_close {
      position: relative;
      top: initial;
      right: initial;
      text-align: center;
      cursor: pointer;
      padding-top: 0;
      @include fz(30);
      font-weight: bold;
    }
    &--btn {
      display: block;
      padding: 10px 10px 10px 30px;
      @include fz(15);
    }
    .cmp-step_box {
      &--step_ttl {
        border-radius: 10px;
        transition: .2s;
        position: relative;
        &:after {
          display: block;
          position: absolute;
          content: '';
          width: 10px;
          height: 10px;
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;
          transform: rotate(45deg);
          top: 40%;
          right: 20px;
          transition: .2s;
        }
        &-open {
          border-radius: 10px 10px 0 0 / 10px 10px 0 0;
          transition: .2s;
          &:after {
            transform: rotate(-135deg);
            transition: .2s;
          }
        }
      }
      &--step_txt {
        display: none;
      }
    }
  }
  .overlay_bg {
    display: none;
  }
  .seminar_reservation {
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    &--tel {
      @include fz(36);
      display: block;
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 20px;
      text-align: center;
      a {
        color: inherit;
      }
    }
  }
  .target_seminar {
    display: block;
    &--list {
      margin-bottom: 10px;
    }
    &--ttl {
      @include fz(14);
      line-height: 1.5;
      background: #fff;
      display: block;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 10px;
      transition: .2s;
      &-open {
        background: $color-blue;
        color: #fff;
        transition: .2s;
      }
    }
    &--body {
      display: none;
      padding: 10px;
      background: #fff;
      line-height: 1.5;
      &-sml {
        @include fz(12);
      }
      &-break {
        margin-top: 10px;
        display: inline-block;
      }
    }
    &--btn {
      @include fz(14);
      padding: 10px 15px;
      display: block;
      text-align: center;
      margin-top: 15px;
    }
  }
  .seminar_tbl_wrap {
    width: 100%;
    overflow: auto;
    position: relative;
  }
  .seminar_tbl {
    overflow: auto;
    white-space: nowrap;
    table-layout: fixed;
    &:nth-child(2) {
      margin-bottom: 0;
    }
    &--head {
      &:first-child {
        width: 390px;
      }
      &:nth-child(2) {
        width: 576px;
      }
      &:nth-child(3) {
        width: 169px;
      }
    }
    &--ttl {
      &-full {
        .seminar_tbl-second & {
          width: 390px;
        }
      }
      &-row1 {
        width: 195px;
      }
    }
    &--data {
      &-target {
        .seminar_tbl-second & {
          width: 576px;
        }
      }
      &-term {
        .seminar_tbl-second & {
          width: 169px;
        }
      }
    }
    &--overlay {
      position: absolute;
      background: #fff;
      display: none;
    }
    &-second {
      margin-bottom: 20px;
    }
    &--link {
      &-pc {
        display: none;
      }
      &-sp {
        display: inline;
      }
    }
  }
  .event_section {
    &--btn {
      margin-left: 20px;
      margin-right: 20px;
      padding: 10px 20px 10px 40px;
      display: block;
      width: auto;
      &:before {
        top: 40%;
      }
    }
  }
  .features_section {
    &--ttl_sub {
      @include fz(20);
      margin-bottom: 20px;
    }
    &--list {
      padding-left: 20px;
      padding-right: 20px;
      display: block;
    }
    &--list_ttl {
      @include fz(18);
      display: block;
      width: 100%;
      padding: 15px 0;
      border-radius: 10px 10px 0 0 / 10px 10px 0 0;
      &-lg {
        @include fz(25);
      }
    }
    &--list_txt {
      @include fz(16);
      text-align: center;
      display: block;
      padding: 15px;
      border-radius: 0 0 10px 10px / 0 0 10px 10px;
    }
  }
  .seminar_list_section {
    &--schedule_btn {
      width: auto;
      margin: 0 20px 10px;
      float: none;
      &:nth-child(2n) {
        margin-right: 20px;
      }
      .cmp-btn {
        @include fz(13);
      }
    }
    .cmp-btn {
      margin-left: 20px;
      margin-right: 20px;
      display: block;
      width: auto;
      padding-left: 35px;
      padding-right: 35px;
      &:before {
      }
    }
    &--btn_pdf {
      @include fz(14);
      &:after {
        transform: scale(0.3,0.3);
        top: 30%;
        right: 25px;
      }
      #event & {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
  .sort {
    &--toggle_btn {
      text-align: center;
      display: block;
      position: relative;
      margin: 0 20px 20px;
      background: #fff;
      padding-top: 5px;
      padding-bottom: 5px;
      &:after {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        content: '';
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(45deg);
        top: 8px;
        right: 20px;
        transition: .2s;
      }
      &-open {
        &:after {
          transform: rotate(-135deg);
          transition: .2s;
          top: 14px;
        }
      }
    }
    &--list {
      display: none;
      margin-left: 20px;
      margin-right: 20px;
      width: auto;
    }
    &--item {
      text-align: center;
      display: inline-block;
      width: 49%;
      margin-left: 2%;
      margin-right: 0;
      &:nth-child(2n+1) {
        margin-left: 0;
      }
    }
    &--link {
      @include fz(14);
      display: block;
    }
  }
  .faq_list {
    display: block;
    padding: 0 20px;
    &--head {
      @include fz(16);
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    }
    &--txt {
      @include fz(16);
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 0 0 10px 10px / 0 0 10px 10px;
      word-break: break-all;
      &-close {
        text-align: center;
        margin-top: 20px;
        @include fz(14);
      }
    }
    &-question {
      &:after {
        top: 60%;
        right: 30px;
      }
      &:hover {
        &:after {
          top: 60%;
        }
      }
    }
    &-question_open {
      &:after {
        top: 63%;
      }
    }
    &-answer {
      display: none;
    }
  }
  .voice_section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .voice_box {
    padding: 15px;
    &--ttl {
      @include fz(20);
      line-height: 1.7;
      margin-bottom: 15px;
    }
    &--txt {
      @include fz(16);
      line-height: 1.8;
      padding-bottom: 25px;
    }
    &--person {
    }
    &--pic {
      max-width: 100%;
      width: 100%;
    }
    &--person_detail {
      margin-top: 15px;
    }
    &--name {
      @include fz(20);
      &-sml {
        @include fz(16);
      }
      &-job_ctg {
        @include fz(18);
      }
    }
    &--course_item {
      @include fz(16);
    }
  }
  #seminar_list,#event_list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .seminar_stamp {
    position: relative;
    position: relative;
    top: initial;
    margin-bottom: 10px;
    @include fz(14);
    &-category {
      left: initial;
    }
    &-term {
      right: initial;
    }
  }
  .seminar_list{
    &--ttl {
      @include fz(20);
      width: 100%;
      &-sml {
      }
    }
    &--table_list {
      border: none;
    }
    &--table_item {
      float: none;
      border: none;
      &-sml {
        width: 100%;
      }
      &-md {
        width: 100%;
      }
    }
    &--table_in {
      display: block;
    }
    &--table_in_ttl {
      display: block;
      width: 100%;
    }
    &--table_in_data {
      display: block;
      width: 100%;
      padding: 10px;
      text-align: center;
      &-apply {
        display: block;
        width: 120px;
        margin-left: 0;
        text-align: center;
        margin: 0 auto;
      }
    }
    &--content {
      display: block;
      &:after {
        bottom: -90px;
        left: 48%;
      }
      &-open {
        &:after {
          bottom: -107px;
        }
      }
    }
    &--content_ttl {
      display: block;
      width: 100%;
      &-date {
        display: block;
      }
    }
    &--content_op {
      display: none;
    }
  }
  .support_menu_section {
    &--ttl {
      @include fz(18);
      margin-bottom: 20px;
      text-align: center;
    }
    &--icon {
      transform: scale(0.7,0.7);
      margin-bottom: -8px;
      margin-left: 0;
    }
    &--btn {
      @include fz(14);
      margin-left: 20px;
      margin-right: 20px;
      padding: 10px 35px;
      width: auto;
      display: block;
      &:after {
        transform: scale(0.3,0.3);
        top: 15%;
        right: 30px;
        width: 10px;
        height: 10px;
      }
    }
    &--course_detail {
      margin: 0 20px;
    }
    &--course_ttl {
      @include fz(18);
    }
    &--course_ttl_sub {
      @include fz(16);
    }
    &--course_ttl_txt {
      @include fz(14);
    }
  }
  // banner.inc
  .banner {
    &--list {
      padding-left: 20px;
      padding-right: 20px;
    }
    &--item {
      float: none;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  // contact page
  .contact_section {
    &--ttl {
      display: block;
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
      @include fz(18);
      line-height: 1.5;
    }
  }
  .contact_form {
    &--list_wrap {
      margin-left: 20px;
      margin-right: 20px;
      width: auto;
      padding: 10px;
    }
    &--list {
      margin-left: 20px;
      margin-right: 20px;
      padding: 10px;
      display: block;
      width: initial;
      .contact_form--list_wrap & {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &--txt {
      padding-left: 0;
    }
    &--ttl {
      display: block;
      width: 100%;
      padding-left: 0;
      margin-bottom: 10px;
    }
    &--description {
      display: block;
      width: 100%;
      padding-left: 0;
      .input-name,.input-phone,.input-mail {
        width: 100%;
      }
      .input-age {
        margin-right: 10px;
      }
      &-sub {
        color: #000!important;
        margin-left: 0;
        @include fz(14);
      }
      &-select {
        margin-left: 0;
      }
    }
    &--select {
      width: 50%;
    }
    &--submit_wrap {
      margin-left: 20px;
      margin-right: 20px;
      display: block;
    }
    &--submit {
      @include fz(18);
    }
  }
  .contact_privacy {
    margin-left: 20px;
    margin-right: 20px;
    width: initial;
  }
  .contact_helpdesk {
    margin-left: 20px;
    margin-right: 20px;
    &--list {
      display: block;
    }
    &--phone {
      display: block;
      color: #000;
      @include fz(28);
      margin-bottom: 5px;
    }
    &--description {
      display: block;
    }
    .tel_link {
      color: #000;
    }
  }
  // news index page
  .news_section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .news_list {
    &--list {
      display: block;
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: 1px dotted #ccc;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
    &--date {
      display: inline-block;
      width: auto;
      padding-right: 5px;
      padding-top: 5px;
    }
    &--label {
      display: inline-block;
      width: auto;
      padding: 3px 10px;
      @include fz(13);
      &-inner {
        display: inline-block;
        padding: 2px 10px;
      }
    }
    &--ttl {
      display: block;
      width: 100%;
      padding-left: 0;
    }
  }
  // news page
  .news_page {
    &--wrap {
      padding: 20px;
      line-height: 1.5;
    }
    &--pic {
      float: none;
      width: 100%;
      max-width: initial;
      margin: 0 0 15px 0;
    }
    &--ttl {
      margin-bottom: 20px;
    }
    &--btn {
      margin-top: 30px;
    }
    &--list {
      display: block;
    }
    &--list_ttl {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
    &--list_description {
      display: block;
      width: 100%;
    }
  }

  // event banner 
  .event_bnr {
    &--mordal {
    }
    &--bnr_img {
      padding: 0 20px;
    }
    &--modal_inner {
      width: 100%;
      margin: 0 auto;
      padding-top: 20px;
      overflow: hidden;
    }
    &--ttl {
      padding-left: 25px;
      padding-right: 25px;
      margin-left: 0;
      margin-bottom: 40px;
    }
    &--pic_koga {
      top: 150px;
      right: 0;
      z-index: 0;
    }
    &--name {
      display: none;
    }
    &--name_pic {
      margin-left: 25px;
      margin-bottom: 10px;
    }
    &--info {
      padding: 0;
    }
    &--info_date {
      padding-top: 10px;
      .sp {
        display: block;
      }
    }
    &--info_day {
      width: 50%;
      margin-left: 15px;
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 2px solid #fff;
    }
    &--info_time {
      display: block;
      padding-left: 15px;
      padding-bottom: 10px;
      @include fz(18);
    }
    &--info_description {
      width: 100%;
      position: relative;
      z-index: 1;
      background: rgba(255,255,255,0.8);
      border-bottom: 1px dotted #666;
      padding-top: 10px;
      padding-bottom: 10px;
      @include clearfix;
      line-height: 1.2;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 15px;
      }
    }
    &--info_description_ttl {
      width: 15%;
      padding: 3px 5px;
      border: 1px solid #000;
      float: left;
      text-align: center;
    }
    &--info_description_data {
      width: 80%;
      float: right;
      padding-top: 2px;
      &-target {
        @include fz(12);
      }
      &-red {
        color: #ff0000;
        @include fz(18);
        font-weight: bold;
        margin-bottom: 10px;
        display: inline-block;
      }
    }
    &--apply_btn {
      position: relative;
      right: initial;
      bottom: initial;
      width: 100%;
      border-radius: 0;
      margin-bottom: 4px;
      padding-top: 10px;
      padding-bottom: 10px;
      @include fz(22);
      &:before {
        width: 10px;
        height: 10px;
        border-width: 1px;
      }
    }
    &--bottom {
      background: none;
      padding: 0;
    }
    &--profile {
      width: 100%;
      padding: 0;
      margin-bottom: 4px;
      .pc {
        display: none;
      }
    }
    &--profile_ttl {
      width: 100%;
      background: #4d4d4d;
      margin-bottom: 0;
      padding: 15px 0;
      text-align: center;
      color: #fff;
      @include fz(20);
      font-weight: bold;
      position: relative;
      &:before {
        display: block;
        position: absolute;
        content: '';
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(-45deg);
        left: 13px;
        top: 40%;
        transition: .2s;
        width: 10px;
        height: 10px;
        transition: .2s;
      }
      &-open {
        &:before {
          transform: rotate(45deg);
          transition: .2s;
        }
      }
      .sp {
        display: inline;
      }
    }
    &--profile_description {
      display: none;
      padding: 15px 10px;
      span {
        display: block;
        position: relative;
        border: 1px solid #000;
        text-align: center;
        padding: 10px 0;
        margin-top: 15px;
        &:before {
          display: block;
          position: absolute;
          border-top: 1px solid #000;
          transform: rotate(45deg);
          content: '';
          width: 20px;
          height: 20px;
          top: 40%;
        }
        &:after {
          display: block;
          position: absolute;
          border-top: 1px solid #000;
          transform: rotate(-45deg);
          content: '';
          width: 20px;
          height: 20px;
          top: 40%;
          left: 14px;
        }
      }
    }
    &--pdf_dl {
      position: relative;
      width: 100%;
      border-radius: 0;
      right: initial;
      bottom: initial;
      padding-top: 15px;
      padding-bottom: 7px;
      @include fz(20);
      display: block;
      @include clearfix;
    }
    &--pdf_dl_before {
      float: left;
      margin-left: 10px;
      margin-bottom: 0;
      margin-top: -3px;
      transform: scale(0.8,0.8);
    }
    &--pdf_dl_after {
      float: right;
      margin-right: 10px;
      margin-bottom: 0;
      margin-top: -6px;
      transform: scale(0.8,0.8);
    }
    &--mordal_close {
    }
  }
}





















